<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- animated on scroll -->
    <link rel="shortcut icon" href="https://i.ibb.co/KskyLnt/icons8-fingerprint-100.png" type="image/svg+xml"></link>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
    <title>BERRY VAULT | Edit Password</title>
    <link rel="shortcut icon" href="https://i.ibb.co/KskyLnt/icons8-fingerprint-100.png" type="image/svg+xml"></link>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://kit.fontawesome.com/580982fca5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>
<!-- component -->
<body class="h-screen flex flex-col justify-center items-center">
<div class="max-w-[280px] mx-auto">
  <div class="flex flex-col items-center ">
      
      <h2 class="mb-5 text-gray-900 font-mono font-bold text-xl">Edit password</h2>
      <form action="{{url_for("edit_password")}}" method="POST">
          <input type="hidden" name="pass_name" value="{{pass_info[0]}}">
          <input type="text" name="new_pass_name" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Password name" value="{{pass_info[0]}}" >
          <input type="text" name="new_pass_login" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Username" value="{{pass_info[1]}}" >
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-2 top-[-5px] flex items-center px-2">
              <input class="hidden js-password-toggle" id="toggle" type="checkbox">
              <label class="cursor-pointer js-password-label" for="toggle"><i class="fa-solid fa-eye"></i></label>
            </div>
            <input name="new_password" class="w-full pl-[40px] px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium js-password" id="password" type="text" autocomplete="off" value="{{pass_info[2]}}" >
          </div>
          <div class="w-full h-[40px] mb-2 rounded-lg font-medium flex flex-row justify-between">
            <input type="number" id="length" min="4" max="30" value="12" class="border border-slate-600 rounded-lg font-medium h-full flex items-center justify-center text-center">
            <button type="button" id="generate" class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg px-5 mb-2 transition-colors w-auto h-full text-[19px]" onclick="generate_password()">Generate</button>
          </div>
          <!--<input id="steps-range" type="range" min="0" max="5" value="2.5" step="0.5" class="w-full h-2 mb-5 bg-gray-100 rounded-lg appearance-none cursor-pointer dark:bg-gray-100">-->
          <div class="w-full mb-2 rounded-lg font-medium grid gap-1 grid-cols-2" >
            <div class="w-full h-[40px] mb-2 border border-slate-600 rounded-lg font-medium flex flex-row justify-left items-center">
              <input checked id="add_upercases" type="checkbox" value="" class="ml-2 text-sm font-medium text-gray-900 mr-1">
              <label for="add_upercases" class="" >ABC</label>
            </div>
            <div class="w-full h-[40px] mb-2 border border-slate-600 rounded-lg font-medium flex flex-row justify-left items-center">
              <input checked id="add_lowercases" type="checkbox" value="" class="ml-2 text-sm font-medium text-gray-900 mr-1">
              <label for="add_lowercase" class="" >abc</label>
            </div>
            <div class="w-full h-[40px] mb-2 border border-slate-600 rounded-lg font-medium flex flex-row justify-left items-center">
              <input checked id="add_numbers" type="checkbox" value="" class="ml-2 text-sm font-medium text-gray-900 mr-1">
              <label for="add_numbers" class="" >123</label>
            </div>
            <div class="w-full h-[40px] mb-2 border border-slate-600 rounded-lg font-medium flex flex-row justify-left items-center">
              <input checked id="add_specials" type="checkbox" value="" class="ml-2 text-sm font-medium text-gray-900 mr-1">
              <label for="add_specials" class="" >#$~</label>
            </div>
          </div>
          <input type="url" name="new_pass_url" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Url" value="{{pass_info[3]}}"/>
          <div class="w-full h-[40px] mb-2 border border-slate-600 rounded-lg font-medium flex flex-row justify-left items-center">
            {% if pass_info[4] == "1" %}
            <input checked name="new_pass_favorite" type="checkbox" value="1" class="ml-2 text-sm font-medium text-gray-900 mr-1">
            {% else %}
            <input name="new_pass_favorite" type="checkbox" value="1" class="ml-2 text-sm font-medium text-gray-900 mr-1">
            {% endif %}
            <label for="new_pass_favorite" class="" >Add to Favorites</label>
          </div>
          <input type="submit" class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-2.5 px-5 mb-2 transition-colors w-full text-[19px]">
      </form>
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="bg-red-400 text-white text-base rounded-lg py-2.5 px-5 w-full text-[19px]" role="alert">
        <p><i class="fa-solid fa-triangle-exclamation"></i> Warning</p>{{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <p class="text-center mt-3 text-[14px]">If you want to go back
          <a href="/" class="text-gray-600">Click here</a>
      </p>
  </div>
</div>
<script src = "{{ url_for('static', filename = 'js/add_password.js') }}" ></script>

</body>
</html>

