<!DOCTYPE html>
<html lang="fr" class="p-0 m-0 ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/iut.png" type="image/x-icon">
    
    <title>Gestion</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://kit.fontawesome.com/580982fca5.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


</head>
<body>
    <div class="max-w-[280px] mx-auto">
        <div class="flex flex-col items-center mt-[10vh]">
            <h2 class="mb-5 text-gray-900 font-mono font-bold text-xl">Sign Up</h2>
            <form action="{{url_for("register")}}" method="POST">
                <input type="text" name="user" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="User" value=""/>
                <div class="bg-gray-100  rounded-lg py-2.5 px-5 mb-2 w-full text-[14px]" role="alert">
                    <p><i class="fa-solid fa-bomb"></i> Choose carefully your password.<br>You won't able to change!</p>
                </div>
                <input type="password" name="password1" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Password" value=""/>
                <input id="password" type="password" name="password2" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Confirm password" value=""/>
                <input type="submit" class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-2.5 px-5 mb-2 transition-colors w-full text-[19px]">
            </form>
            {% with messages = get_flashed_messages()  %}
            {% if messages %}
            {% for message in messages %}
            <div class="bg-red-400 text-white text-base rounded-lg py-2.5 px-5 w-full text-[19px]" role="alert">
                <p><i class="fa-solid fa-triangle-exclamation"></i> Warning</p>{{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <p class="text-center mt-3 text-[14px]">Already have an account? 
                <a href="/login" class="text-gray-600">Log In</a>
            </p>
        </div>
    </div>
</body>

</html>
