{% for pwd in pwd_list %}
   <li class="py-3 sm:py-4">
      <div class="flex items-center space-x-4">
         <div class="favorite">
            {% if pwd[-1] == "1" %}
               <i class="fa-solid fa-star"></i>
            {% else %}
               <i class="fa-regular fa-star"></i>
            {% endif %}
         </div>
         <div class="w-10 h-10 bg-[#88C0D0] rounded-full drop-shadow-md  text-center flex flex-col justify-center">
            <p class="text-[20px] font-semibold uppercase">{{ pwd[0][0] }}</p>
         </div>
         <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900">
               {{ pwd[0] }}
            </p>
            <p class="text-sm text-gray-500 ">
               {% if pwd[1] %}
               <a href="{{ pwd[1]  }}" class="__cf_email__ " data-cfemail="17727a767e7b57607e7973646372653974787a"><i class="fa-solid fa-arrow-up-right-from-square pr-2"></i>{{ pwd[1]  }}</a>
            {% else %}
            <a href="{{ pwd[1]  }}" class="__cf_email__ " data-cfemail="17727a767e7b57607e7973646372653974787a">{{ pwd[1]  }}</a>
            {% endif %}
            
            </p>
         </div>
         
         <div class="hidden sm:block text-truncate space-x-1">
            <button onclick="fill_infos('{{ pwd[0] }}')" type="button" class="text-black  bg-[#8FBCBB] hover:bg-[#8fbcbb9d] focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5"><i class="fa-solid fa-circle-info" style="color: #000000;"></i></button>
            <button id="deleteButton" data-modal-toggle="deleteModal" onclick="del_password( '{{ pwd[0] }}' )" type="button" class="text-black  bg-[#BF616A] hover:bg-[#bf616a94] focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5"><i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
         </div>

      </div>
      <div class="sm:hidden sm:block pt-4 space-x-1">
         <button onclick="fill_infos('{{ pwd[0] }}')" type="button" class="text-black  bg-[#8FBCBB] hover:bg-[#8fbcbb9d] focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5"><i class="fa-solid fa-circle-info" style="color: #000000;"></i></button>
         <button id="deleteButton" data-modal-toggle="deleteModal" type="button" class="text-black  bg-[#BF616A] hover:bg-[#bf616a94] focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5"><i class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
      </div>
   </li>
{% endfor %}



<!--
<script>
   document.getElementById('showModalButton').addEventListener('click', function() {
       // Find the modal container by its ID
       var modal = document.getElementById('deleteModal');
       // Remove the 'hidden' class to display the modal
       modal.classList.remove('hidden');
   });

   // Add an event listener to close the modal
   document.querySelector('[data-modal-toggle="deleteModal"]').addEventListener('click', function() {
       // Find the modal container by its ID
       var modal = document.getElementById('deleteModal');
       // Add the 'hidden' class to hide the modal
       modal.classList.add('hidden');
   });
</script>

-->
